<template name="MasterLayout">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
 <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'home'}}">Cards</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
 
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}} <!-- here -->
        </ul>
    </div>
</div>
</div>

<div class="container">

	{{> yield}}		


</div>




<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">

<div class="navbar-center navbar-brand">
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#newCard">
  <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
</button></div>
    <!-- Collect the nav links, forms, and other content for toggling -->

</nav>

{{> Modal}}
</template>
