<template name="CardDetail">
 <div class="row">
		<div class="col-md-8 col-lg-offset-2">
			<div class="panel panel-default">

           <div class="panel-heading"><h4>{{title}}</h4></div>
   			<div class="panel-body">

             
              <div class="clearfix"></div>
              <hr>
              
              <p> {{description}} </p>
              
              <hr>
              <span class="pull-left">- {{author}}</span>
             {{#if ownPost}} <button class="btn btn-danger pull-right delete">Delete</button>{{/if}}
              <div class="clearfix"></div> 
            </div>
         </div>
		</div>
	</div>
</template>
